* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap {
  width: 500px;
  height: 500px;
  background-color: #333;
  /* display: grid;
  place-items: center; */
}

.box {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #fff;
  margin: 0 auto;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
